@font-face {
    font-family: 'clash';
    src: url('./assets/Clash-Royale-Font/CLASHFONT.ttf');
}


body {
    background-color: #0b1f2a;
    margin:0;
    color: whitesmoke;
    font-family: 'clash';
}

.side-nav{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  gap:0;
  padding: 13px 50px;
  background:rgba(11,18,32,0.6);
  backdrop-filter: blur(6px);
  z-index:1000;
  box-shadow:0 2px 8px rgba(0,0,0,0.2);
}

#home{
    display: flex;
    align-self: center;
    justify-content: center;
    background-image: url("./assets/CLASH ROYALE background.webp");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
    height: 120vh;
    mask-image:linear-gradient(to bottom, black 80%, transparent 100%);
}
#clashLogo{
    scale: 0.8;
    position: fixed;
    top: 20vh;

}

section {
    height: 150vh;
    margin-bottom: 10vh;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    height: 100%;
}
.grid .left, .grid .right {
    border-radius: 10px;
    width:100%;
    height: fit-content;
    height: 100%;
}

.grid .left {
    justify-self: start;
    text-align: center;

}

.grid .left h2 {
    text-align: center;

}

.grid .right {
    justify-self: end;
    text-align: left;
}
    .h2 {
    text-align: center;

}

carousel {

    position: relative;
    display: block;
    
    width: var(--card-width);
    height: var(--card-height);

    overflow: hidden;
    margin-left: 160px;
    margin-top: 110px;
}

carousel card {
    --place: 0;

    position: absolute;
    left: calc(var(--card-height) * (var(--place) - var(--current-card)));
    top: 0;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
}

carousel #next {
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    z-index: 1000;
    
    font-family: 'clash';
    padding: 10px 20px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    background-color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

carousel #next:hover {
    background-color: #0b1f2a;
    color: whitesmoke;
}

carousel #prev {
    position: absolute;
    right: none;
    top: 55%;
    transform: translateY(-50%);
    z-index: 1000;
    
    font-family: 'clash';
    padding: 10px 20px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    background-color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

carousel #prev:hover {
    background-color: #0b1f2a;
    color: whitesmoke;
}
#gameplay {
    margin-top: 20vh;
    height: 100vh;
}

#cards {
    margin-top: 100px;
    height: 100vh;
}


#gameplayVideo {
    margin-top: 3vh;
}

#cards card {
    padding: 10px;
    transition: left .5s ease-in-out;
    display:grid;
    grid-template-rows: 5rem 1fr;
    text-align: center;
}

#cards card div {
    background-color: transparent;
    border-radius: 1rem;
    overflow: hidden;
    display: block;
    height: calc(var(--card-height) - 5rem);
    
}
#cards card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#gameplayVideo {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    border-style: solid;
    border-width: 2px;
}
#playPause {
    font-family: 'clash';
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#playPause:hover {
    background-color: #0b1f2a;
    color: whitesmoke;
}

#cardInfoTitle {
    margin-top: 100px;
    font-size: 1.5rem;
    font-weight: bold;
}
/*#cardInfoContent {
    margin-top: 5px;
    font-size: 1rem;
    line-height: 1.5;
}*/

.arena-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'clash';
    font-size: 15px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.arena-table thead th {
    background: linear-gradient(90deg, #1e88e5, #42a5f5);
    color: white;
    padding: 14px 10px;
    font-size: 1.1rem;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.arena-table th {
    padding: 12px 10px;
    border-bottom: 1px solid #e0e0e0;
}

.arena-table tbody tr:nth-child(odd) {
    background-color: #1f098b;
}

.arena-table tbody tr:nth-child(even) {
    background-color: #112d8a;
}

.arena-table tbody tr:hover {
    background-color: #0b66a7;
    transition: 0.
}

.cr-community-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.cr-community-grid :hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.cr-box {
    background-color: #1f098b;
    border: 1px solid ;
    padding: 15px;
    background-color: #112d8a;
}