@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body, * {
    font-family: Bebas Neue;
    color: #FDEBD0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.menu-wrapper {
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.burger-icon {
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 4rem;
    color:indianred;
    z-index: 3;
    transition: color 0.3s ease-in-out;
}

.menu-wrapper:has(.sidebar:hover) .burger-icon, .burger-icon:hover {
    color: #FDEBD0;
}

.sidebar {
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 5rem;
    background-color: #27391C;
    color: #FDEBD0;
    padding: 5rem 4rem;
    transition: left 0.5s ease-in-out;
    text-align: center;
    justify-content: flex-start;
    display: flex;
}

.burger-icon:hover+ .sidebar, .sidebar:hover {
    left: 0%;
    box-shadow: 0 0 30px 5px color gray;
}

.sidebar a {
    font-size: 3rem;
    display: block;
    text-decoration: none;
    color: #FDEBD0;
    margin: 4rem 0;
    opacity: 0.5;
}

.sidebar a:hover{
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
    transform: translateX(3rem);
    transition: transform 0.15s ease-in-out;
    filter: drop-shadow(0 0 30px);

}

.page {
width: 100vw;
height: 100vh;
overflow: hidden;
/* grid layout */
display: grid;
place-items: center;
/* position fixed - klassen "show" viser pages*/
position: fixed;
left: -100vw;
transition: 1s ease-in-out;
}

.show {
    left: 0;
}

/* alle div'erne inde pages, er behandelet som fuld width grids*/
.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

h1{
    font-weight: 300;
    font-size: 6rem;

}

#page2 { 
    grid-template-rows: 1fr 3fr;
}

#page2 .top {
    background-color: lightcoral;
}

#page2 .bottom {
    background-image: url(./assets/Crimey.jpg);
    background-size: cover;
}

#page3 {
    grid-template-columns: 1fr 1fr;
    background-color: #27391C;
}

#page3 .right {
    background-color: #27391C;
}

#page3 .left .top {
    background-color:lightcoral;
}

#page3 .left .bottom {
    background-image: url(./assets/Crimey.jpg);
    background-size: cover;
}

#page3 .right .box {
    height: 50%;
    width: 80%;
    background-color:lightcoral;
}

#page3 .right .box .bottom {
    background-image: url(./assets/victorerenbitch.jpg);
    background-size: cover;
}

#page4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}