@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body,
* {

    background-color: crimson;
    font-family: Oswald;
    color: ghostwhite;
    font-size: 10vw;
    margin: 0;
    padding: 0;

}

.page {
    width: 100vw;
    height: 100vh;
    border: 1px solid lightcoral;
    overflow: hidden;
    /* grid layout */
    display: grid;
    place-items: center;
    /* position fixed - klassen "show" viser pages */
    position: fixed;
    left: -100vw;
    transition: 1s ease-in-out;
}

.menu-wrapper {
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.burger-icon {
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 2rem;
    z-index: 4;
    color: black;
}

.menu-wrapper:has(.sidebar:hover) .burger-icon,
.burger-icon:hover {
    color: whitesmoke;
}

.sidebar {
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: #12163d;
    color: white;
    padding: 4rem 1rem;
    z-index: 3;
    transition: left 0.3s ease-in-out,
        box-shadow 0.3s ease;
}

.burger-icon:hover+.sidebar,
.sidebar:hover {
    left: 0;
    box-shadow: 0 0 20px 5px #12163d;
}

.sidebar a {
    font-size: 2rem;
    display: block;
    cursor: pointer;
    margin: 1.2rem 0;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.sidebar a:hover {
    opacity: 1;
    transform: translateX(1rem);
    filter: drop-shadow(0 0 10px)
}

.show {
    left: 0;
}


#page2 {
    grid-template-rows: 1fr 3fr;
}


#page2 .top {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgb(111, 17, 5);
}


#page2 .bottom {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgb(111, 7, 33);
    background-image: url(./assets/victorerenbitch.jpg)
}