@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body, *{

    background-color: crimson;
    font-family: Oswald;
    color:ghostwhite;
    font-size: 10vw;
    margin: 0;
    padding: 0;

}

.page{
    width: 100vw;
    height: 100vh;
    border: 1px solid lightcoral;
    overflow: hidden;
    /* grid layout */
    display: grid;
    place-items: center;
    /* position fixed - klassen "show" viser pages */
    position: fixed;
    left: -100vw;
    transition: 1s ease-in-out;
}

.show{
    left: 0;
}


#page2{
    grid-template-rows: 1fr 3fr;
}


#page2 .top{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color:rgb(102, 5, 5);
}


#page2 .bottom{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color:rgb(93, 9, 30);
    background-image: url(./assets/Crimey.jpg)
}